<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
</head>
<body>
	<section class="layout-content" layout:fragment="corpo">

		<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><i class="oi oi-caret-right"></i>
						<span th:text="#{inscricao.cadastrar.label}"></span></li>
				</ul>
				<a class="btn btn-primary btn-md" th:href="@{/empresas/listarInscricoes}"
					role="button"> <span class="oi oi-spreadsheet" title="Listar"
					aria-hidden="true"></span> <span th:text="#{inscricao.listar.label}"></span>
				</a>
			</div>
		</nav>

		<div class="container" id="cadastro">

			<div th:replace="fragments/alert"></div>

			<form
				th:action="@{/empresas/editarInscricao/}"
				th:object="${inscricao}" method="POST">

				<div class="form-row">
					<div class="form-group">
						<h4 th:text="#{inscricao.status.label}"/><br>
						<input type="radio" id="status1" name="status" value="ABERTO" required>
						<label for="status1" th:text="#{inscricao.status.open}"/><br>
						<input type="radio" id="status2" name="status" value="REJEITADO">
						<label for="status2" th:text="#{inscricao.status.rejected}"/><br>
						<input type="radio" id="status3" name="status" value="ENTREVISTA">
						<label for="status3" th:text="#{inscricao.status.chosen}"/>
							
						<div class="invalid-feedback">
							<span th:errors="*{status}"></span>
						</div>
					</div>
					
				</div>
				<div>
					<textarea th:name="message" rows="5" cols="80"> </textarea>
				</div>

				<input type="hidden" id="id" th:field="*{id}" />
				<input type="hidden" id="CV" th:field="*{CV}">
				<input type="hidden" id="data" th:field="*{data}">
				<input type="hidden" id="vaga" th:field="*{vaga}">
				<input type="hidden" id="profissional" th:field="*{profissional}">

				<button type="submit" th:text="#{button.salvar.label}"
					class="btn btn-primary btn-sm mt-5">
				</button>
			</form>
		</div>
	</section>
</body>
</html>